* {
    padding: 0px;
    margin: 0px;
}

#Slideshow img 
{
    position: absolute;
}


.Slideshow-img
{
    opacity: 0;
    transition: opacity 2s;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
  
.show 
{
    opacity: 1;
}

